[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-markdownx = "*"

[dev-packages]

[requires]
python_version = "3.10"
